body {
         font-family: sans-serif;
         margin: auto;
         padding: 0;
	 background-color: rgb(255, 255, 255);
         width:100%;
}

header {
        background-color: rgb(100, 100, 180);
        color: #fff;
        text-align: center;
        padding: 1rem;
	width:100%;
	top: 0;
}

h1 {
        margin: 0;
}


section {
        padding: 1rem;
	padding-right: 3vw;
	padding-left: 3vw;	
}

section.projects {
	width: 60%;
}

div.about {
	width:95%;
	padding-bottom: 0vh;
	float: left;
}

div.portrait {
	width:30%;
	height:100%;
	float:right;
}

div.projects {
	float: left;
}

img {
    height:80%; 
    width:30%; 
    float:center;
    border-radius: 50%;
    margin-left:1vw;
}

.contact {
	padding-bottom: 6vh;
}

footer {
        background-color: rgb(100, 100, 180);
        color: #fff;
        text-align: center;
        padding: 1rem;
        bottom: 0;
        width: 100%;
}
